.page
  .content
    markdown:
      # What is InnoViz

      InnoViz is a practice-based research project and that means that one of the end goals is to create an educational tool for exploring the tech scene. A system and a software application that will index and analyze our findings and present them interactively to the user interested in this area of study. The system will allow further adoption of the database by 3rd parties.

      Field of study: We are exploring and researching an area of practice, that is the software and App Making industry. We are harvesting all the data we can find about this area of practice and storing them into our database. And what we want to do, is to turn this data into information and visualize the information to understand and answer certain questions about the industry. The who, how and why things work. We hope that these answers will shed light into the creative practices and innovative processes that make the software industry such a successful (in terms of growth and job creation) industry in a time of global recession. 

      The interesting part for us are the Empirical Anomalies, that challenge prevailing concepts. By Empirical Anomalies I mean practices in the real-world that are not yet documented or decoded. In the Amsterdam Metropolitan Area an Empirical Anomaly has been introduced with the appearance of Appsterdam. 

      Appsterdam manifests the creation of a new economy, is creating the “Silicon Canals”, and the Appsterdammers are sharing the vision to make Amsterdam the app-developing capital of the world. 

      They are people that are not motivated by money but are driven by passion - forming an organic, grass roots movement, building a community that supports itself.

      Facing a new player in the field, or as we said before, an Empirical Anomaly, traditional, institutionalized forces and structures are trying to grasp and understand what the tech scene is all about and how it evolves. In many cases they try to embrace and acquire the newness that the scene is bringing. 

      And what is the way to do that? How could Universities, Companies or Governments understand, approach and collaborate with such an Anomaly? 

      That is where the InnoViz project comes in and we hope that with our research and tool we will help this process of understanding and collaborating.
        
